<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Keliamieji metai</title>
</head>

<body>
    <h1>Keliamieji metai tarp 1900 iki 2100 metų: </h1>
    {%for x in sarasas%}

    <p>{{x}}</p>

    {%endfor%}
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Keliamieji metai</title>
</head>

<body>
    <form action="#" method="post">
        <p>Iveskite metus:</p>
        <p><input type="text" name="metai" /></p>
        <p><input type="submit" value="ok" /></p>
    </form>



</body>

</html>